#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')

<head>
    <title>About</title>
</head>

<h1 class="visually-hidden">${project.name}</h1>

$h2 ${project.artifactId}

The **${project.artifactId}** project provides a
[Maven *archetype*](https://maven.apache.org/archetype/maven-archetype-plugin/index.html)
that can be used with the
[Maven Archetype Plugin](https://maven.apache.org/archetype/maven-archetype-plugin/generate-mojo.html)
to generate a project project. Here is a quick example that generates a project
using the archetype:

```bash
mvn archetype:generate \
  -DarchetypeGroupId=${project.groupId} \
  -DarchetypeArtifactId=${project.artifactId} \
  -DarchetypeVersion=${project.version}
```
