#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')

<head>
    <title>About</title>
</head>

<h1 class="visually-hidden">${project.name}</h1>

$h2 ${project.artifactId}

The **${project.groupId}:${project.artifactId}** project provides a
[Maven *archetype*](https://maven.apache.org/archetype/maven-archetype-plugin/index.html)
that can be used with the
[Maven Archetype Plugin](https://maven.apache.org/archetype/maven-archetype-plugin/generate-mojo.html)
to generate a Maven project.

$h3 Usage

To generate a Maven project based on the ${project.artifactId} archetype,
run the command below. When the `archetype:generate` goal executes, you will be
prompted to provide additional details for some required properties, many of
which have default values.

```console
mvn archetype:generate \
  -DarchetypeGroupId=${project.groupId} \
  -DarchetypeArtifactId=${project.artifactId} \
  -DarchetypeVersion=${project.version}
```
